@{
    ViewBag.Title = "Home Page";
}

<!-- References the custom C# styling sheet -->
<script runat="server"></script>


<div class="jumbotron">
    <h2>No Quarter - The Burning Crusade</h2>
        @if (ViewBag.SuccessfulLogin != null)
        {
            <p runat="server" id="divControl">@ViewBag.SuccessfulLogin</p>
        }
    <p><a href="@Url.Action("Contact", "Home")"><img src="~/Content/Images/horde.png" /></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Register Player", "Create", "Players", null, null)
    </div>l
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>No Quarter Raidds</h2>
        <p>View our Raids here</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>